body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.h1-tablas {
    text-align: center;
    margin-bottom: 20px;
}

.multiplicaciones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.multiplicacion {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    width: 300px; /* Ancho fijo para cada caja */
    box-sizing: border-box;
}

.multiplicacion label {
    margin-bottom: 10px;
    display: block;
}

.multiplicacion input {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.multiplicacion button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.multiplicacion span {
    display: block;
    margin-top: 10px;
}
